* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #323232;
  color: #fff;
}

ul,
li {
  text-decoration: none;
}

a {
  color: #fff;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.cbt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.todo {
  margin-top: 50px;
}

